<?xml version="1.0" encoding="utf-8" ?>
<RunSettings>
  <RunConfiguration>
    <TargetPlatform>x64</TargetPlatform>
  </RunConfiguration>
  <TestRunParameters>
    <Parameter name="ClaimsProviderName" value="EntraCP" />
    <Parameter name="FarmAdmin" value="i:0#.w|contoso\yvand" />
    <Parameter name="TestSiteCollectionName" value="EntraCP.UnitTests" />
    <Parameter name="AzureTenantsJsonFile" value="C:\YvanData\Dev\EntraCP_Tenants.json" />
    <Parameter name="DataFile_EntraId_TestUsers" value="C:\YvanData\Dev\EntraCP_Tests_EntraID_Users.csv" />
    <Parameter name="DataFile_EntraId_TestGroups" value="C:\YvanData\Dev\EntraCP_Tests_EntraID_Groups.csv" />
    <Parameter name="UserAccountNamePrefix" value="testEntraCPUser_" />
    <Parameter name="GroupAccountNamePrefix" value="testEntraCPGroup_" />
    <Parameter name="ClaimsProviderConfigName" value="EntraCPConfig" />
    <Parameter name="TestLogFileName" value="EntraCPIntegrationTests.log" />
    <Parameter name="ProxyAddress" value="http://localhost:8888" />
    <Parameter name="MultiPurposeCustomClaimType" value="http://schemas.yvand.org/claims/type1" />
  </TestRunParameters>
</RunSettings>
